body {
	background: pink;
}

.vertically-centered {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.horizontally-centered {
	text-align: center;
	margin: auto;
}

.uploaded-image:hover {
	border: 2px solid black;
}

.selected {
	border: 2px solid black;
}

.horizontal-scroll {
	overflow-x: scroll;
}

.vertical-scroll {
	overflow-y: scroll;
	max-height: 50vh;
}